body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4e4e4e;
  color: #ffffff;
  line-height: 1.6;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #2c2c2c;
  color: #fff;
  box-shadow: 0 4px 10px #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.2);
}

.navigation ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #000000;
}

.header-actions .login-button {
  padding: 0.8rem 1.5rem;
  background-color: #4597e4;
  color: #000000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid #000000;
}

.header-actions .login-button:hover {
  background-color: #000000;
}

.produtos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 5%;
}

.produtos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.produto-item {
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 15px #000000;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.produto-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px #000000;
}

.container-imagem img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 200px;
}

.produto-nome {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.produto-preco {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
}

.produto-descricao {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1rem;
}

.botao-comprar {
  padding: 0.8rem;
  background-color: #44ff4d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  border: 2px solid #000000;
}

.botao-comprar:hover {
  background-color: #1eff00;
}

@media (max-width: 768px) {
  .navigation ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .header-actions .login-button {
    width: 100%;
  }
}












body {
  font-family: Arial, sans-serif;
  background-color: #3d3d3d;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;
}

form h2 {
  margin-bottom: 1rem;
  color: #000000;
  text-align: center;
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  color: var(--text-color-light);
  font-size: 1rem;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="number"]:focus {
  border-color: #000000;
  outline: none;
  box-shadow: #4d4d4d;
}

form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #555555;
  border: none;
  border-radius: 5px;
  color: #494949;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color:#313131;
}

form input[type="submit"]:hover {
  background-color: #000000;
  transform: translateY(-2px);
}

form input[type="submit"]:active {
  background-color: #000000;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}